body {margin:0;}

/*Navigation bar*/
.topnav {
  overflow: hidden;
  background-color: #fff4d8;
}

/*Blocks and letters of the navigation bar*/
.topnav a {
  float: left;
  display: block;
  color: #47443e;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 17px;
}

/*Hover navigation bar*/
.topnav a:hover {
  background-color: #f0c24e;
  color: black;
  font-size: 18px;
  text-decoration-line: underline;
}

/*Icons in the navigation bar*/
.topnav .icon {
  display: none;
}

/*Button style*/
.buttons{
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  color: #000000;
  background-color: #fff4d8;
  border-radius: 6px;
  border: 0px;
}
.buttons:hover{
  color: black;
  background-color: #f0c24e;
}